/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Include theme-specific fonts
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);

$blue: #5392FF;
$red: #FF5C49;
$orange: #FE8500;
$green: #34BC6E;

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #222;
$headingColor: #222;

$mainFontSize: 42px;
$mainFont: 'Helvetica Neue', Helvetica, 'Roboto', sans-serif;
$headingFont: ''Helvetica Neue', Helvetica', 'Roboto', sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: none;
$headingFontWeight: 300;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------

.reveal {
  font-weight: 300;
  
  strong {
    font-weight: 500;
    color: $blue;
  }

  li {
    margin-bottom: 0.2em;
  }

  .text-blue {
    color: $blue;
  }
  .text-red {
    color: $red;
  }
  .text-orange {
    color: $orange;
  }
  .text-green {
    color: $green;
  }
  .break {
    display: block;
    width: 60px;
    height: 3px;
    background-color: #222;
    margin: 0 auto 40px auto;
  }
}